h1{
    color: blue;
}

h2{
    color: brown;
}

.p1{
    color: aqua;
}

.p2{
    color: crimson;
}

body{
    background-color: chartreuse;
}

img{
    height:200px ;
    width: ;
}
]